.cientifico{
    padding: 10px;
}
#contenedor{
    text-align: center;
    display: flex;
    padding: 12px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: rgb(4, 130, 130);
}
